.panel__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: solid 1px grey;
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  margin: 0px 10px;
}

.panel__container_edges {
  width: 300px;
}

.panel__container_paths {
  width: 300px;
  margin: 0;
  margin-top: 10px;
}

.panel__title {
  margin: 5px 0px;
  font-weight: 700;
  border-bottom: 1px solid black;
  width: 100%;
  text-align: left;
}

.panel__subtitle {
  margin: 2px 0px;
  font-size: 14px;
}

.panel__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 2px 0px;
}

.list__container {
  width: 100%;
}

.node__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: start;
  width: 100%;
  font-size: 14px;
}

.node__index {
  margin: 0;
  font-weight: bold;
  width: 25px;
}

.node__id {
  margin: 0px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.edge__id {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px;
}

.edge__source {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
  max-width: 90px;
  border: solid 1px black;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0px 4px;
}

.button {
  cursor: pointer;
  padding: 3px;
  margin: 2px 0px;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.arrow {
  margin: 0 5px;
  font-size: 16px;
  line-height: 30px;
}

.button_delete:hover {
  background-color: rgb(255, 140, 140);
}

.button_add:hover {
  background-color: rgb(155, 218, 153);
}

.button_find:hover {
  background-color: rgb(255, 232, 169);
}

select {
  max-width: 120px;
  width: 120px;
}